CONFIG_ARM=y
# CONFIG_ARM64_SUPPORT_AARCH32 is not set
CONFIG_ARCH_RAPTOR2=y
CONFIG_SYS_TEXT_BASE=0x801C00000
CONFIG_ENV_SIZE=0x2000
CONFIG_NR_DRAM_BANKS=1
CONFIG_TARGET_EQ_RAPTOR2_B0=y
CONFIG_TARGET_EQ_RAPTOR2_B0_FPGA=y
CONFIG_DISTRO_DEFAULTS=y
CONFIG_FIT=y
CONFIG_BOOTDELAY=3
CONFIG_USE_BOOTARGS=y
CONFIG_BOOTARGS="console=ttyS0,115200 root=/dev/ram0 earlycon=edgeq8250,mmio32,0x6E450000"
CONFIG_DEFAULT_DEVICE_TREE="edgeq_raptor2_b0_fpga"
CONFIG_OF_LIST="edgeq_raptor2_b0_fpga"
CONFIG_SYS_CONFIG_NAME="edgeq_raptor2"
CONFIG_DM=y
CONFIG_NETDEVICES=y
CONFIG_BAUDRATE=19200
CONFIG_DM_ETH=y
CONFIG_DWXGMAC=y
#CONFIG_EQXPCS=y
CONFIG_DM_SERIAL=y
CONFIG_PL01X_SERIAL=y
CONFIG_SYS_NS16550=y
CONFIG_SYS_NS16550_SERIAL=y
# CONFIG_CMD_SMC=y
CONFIG_DM_SPI=y
CONFIG_ATCSPI200_SPI=y
CONFIG_DM_SPI_FLASH=y
CONFIG_SPI_FLASH_MACRONIX=y
CONFIG_SPI_FLASH_STMICRO=y
CONFIG_MTD_SPI_NAND=y
CONFIG_SPI_FLASH_MTD=y
CONFIG_DM_MMC=y
CONFIG_MTD=y
CONFIG_DM_MTD=y
CONFIG_CMD_SPI=y
CONFIG_CMD_SF=y
CONFIG_CLK=y
CONFIG_CMD_RAPTOR_FUSE=y
CONFIG_CMD_SMC=y
CONFIG_CMD_MEMTEST=y
CONFIG_CMD_CACHE=y
CONFIG_MMC=y
CONFIG_DM_MMC=y
CONFIG_CMD_MMC=y
CONFIG_MMC_SDHCI=y
CONFIG_MMC_SDHCI_RAPTOR2=y
CONFIG_CMD_EXT4_WRITE=y
CONFIG_FAT_WRITE=y
#CONFIG_MMC_SDHCI_ADMA=y
#CONFIG_DMA_ADDR_T_64BIT=y
