CONFIG_ARM=y
# CONFIG_ARM64_SUPPORT_AARCH32 is not set
CONFIG_ARCH_RAPTOR2=y
CONFIG_SYS_TEXT_BASE=0x400a00000
CONFIG_ENV_SIZE=0x2000
CONFIG_NR_DRAM_BANKS=1
CONFIG_TARGET_EQ_RAPTOR2=y
CONFIG_DISTRO_DEFAULTS=y
CONFIG_FIT=y
CONFIG_BOOTDELAY=3
CONFIG_USE_BOOTARGS=y
CONFIG_BOOTARGS="console=ttyS0,115200 root=/dev/ram0 earlycon=pl011,mmio,0x70400000"
CONFIG_DEFAULT_DEVICE_TREE="edgeq_raptor2"
CONFIG_DM=y
# CONFIG_NETDEVICES is not set
CONFIG_BAUDRATE=1152000
CONFIG_DM_SERIAL=y
CONFIG_PL01X_SERIAL=y
CONFIG_SYS_NS16550=y
CONFIG_SYS_NS16550_SERIAL=y
# CONFIG_CMD_SMC=y
CONFIG_DM_SPI=y
CONFIG_ATCSPI200_SPI=y
CONFIG_DM_SPI_FLASH=y
CONFIG_SPI_FLASH_MACRONIX=y
CONFIG_SPI_FLASH_STMICRO=y
CONFIG_MTD_SPI_NAND=y
CONFIG_SPI_FLASH_MTD=y
CONFIG_DM_MMC=y
CONFIG_MTD=y
CONFIG_DM_MTD=y
CONFIG_CMD_SPI=y
CONFIG_CMD_SF=y
CONFIG_CLK=y
CONFIG_CMD_RAPTOR_FUSE=y
