# SPDX-License-Identifier: GPL-2.0
#
# PCI Endpoint Functions
#

config PCI_EPF_TEST
	tristate "PCI Endpoint Test driver"
	depends on PCI_ENDPOINT
	select CRC32
	help
	   Enable this configuration option to enable the test driver
	   for PCI Endpoint.

	   If in doubt, say "N" to disable Endpoint test driver.

config PCI_EPF_EDGEQ
	tristate "PCI Endpoint driver for EDGEQ Raptor 2"
	depends on PCI_ENDPOINT
	default y if ARCH_EDGEQ
	select CRC32
	help
	   Enable this configuration option to enable the test driver
	   for PCI Endpoint.

	   If in doubt, say "N" to disable Endpoint test driver.

config PCI_EPF_EDGEQ_TEST
	tristate "PCI Endpoint Test driver for EDGEQ Raptor 2"
	depends on PCI_ENDPOINT && ARCH_EDGEQ && !PCI_EPF_EDGEQ
	select CRC32
	help
	   Enable this configuration option to enable the test driver
	   for PCI Endpoint.

	   If in doubt, say "N" to disable Endpoint test driver.
